@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}

.spin {
    animation: spin 3s ease-in-out infinite;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    color: #fff;
    font-size: 2rem;
}

nav {
    background-color: #00BD71;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 500px;
    min-height: 80vh;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 100%;
}

#breed-name {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1.2rem;

    &:empty {
        display: none;
    }
}



img {
    width: 100%;
    border-radius: 24px;
}

#loader {
    display: none;
}


select {
    font-size: 1rem;
    appearance: none;
    border: 0;
    outline: 0;
    width: 20rem;
    padding: 1em;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.129);
    background-color: #0b905b;
    color: #fff;
    cursor: pointer;

    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 24px;
}

/* Media queries */

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    select {
        width: 100%;
    }

    main {
        width: 90%;
        margin: 2rem auto;
    }

    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}