* {
    color: #344d36;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d7ceb3;
    font-family: 'Inter', sans-serif;
}

/* Navbar styles */

nav {
    position: sticky;
    top: 0;
    background-color: #d7ceb3;
    z-index: 100;
    padding: 1rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    margin-right: auto;
}

.nav-list li {
    list-style: none;

}

.nav-list li:not(.nav-title) {
    margin: auto .5rem;
}

.nav-list li a {
    text-decoration: none;
    font-weight: 600;
    font-size: .75rem;
}

/* Section styles */

section {
    min-height: 100dvh;
    border: 1px solid black;
    scroll-margin-top: 4rem;
}