* {
    color: #344d36;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE1D5;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
    font-weight: 300;
}

/* Navbar styles */

nav {
    position: sticky;
    top: 0;
    background-color: #EEE1D5;
    z-index: 100;
    padding: 1rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    margin-right: auto;
}

.nav-list li {
    list-style: none;

}

.nav-list li:not(.nav-title) {
    margin: auto .5rem;
}

.nav-list li a {
    text-decoration: none;
    font-weight: 600;
    font-size: .75rem;
}

/* Section styles */

section {
    min-height: 100dvh;
    scroll-margin-top: 4rem;
    display: flex;

    justify-content: center;
    margin: 0 4rem;
}

/* Welcome section styles */

#welcome {
    padding: 0 12rem;
    flex-direction: column;
}

.subtitle {
    font-family: 'Averia Serif Libre', serif;
    font-size: 1.2rem;
}

/* About section styles */
#about,
#experience {
    align-items: center;
    gap: 2rem;
}

#about img {
    max-width: 400px;
    max-height: 50vh;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.about-content p {
    margin-bottom: 1rem;
}

.hobbies-list {
    list-style-type: disc;
    margin-left: 1.5rem;
    font-size: 0.9rem;
}

.hobbies-list li {
    margin-bottom: 0.5rem;
}

#projects {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.projects-box {
    display: flex;
    gap: 2rem;

}

.project-card {
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
    }
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.project-info {
    padding: 1rem;
}

.project-card h3 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.labels {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.label {
    font-size: 0.7rem;
    color: #D97557;
    border: 1px solid #D97557;
    padding: 0.4rem 0.6rem;
    border-radius: 14px;
}

/* Experience section styles */

#experience img {
    object-fit: cover;
    width: 500px;
    border-radius: 24px;
}



.experience-title {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
}

.company-link {
    font-size: .8rem;
    color: #D97557;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem 0 1rem 0;

    &:hover {
        text-decoration: underline;
    }
}

.skills-table {
    width: 100%;
    margin-top: 1.5rem;
    border-spacing: 2rem 0;
}

.skills-table th,
.skills-table td {
    width: 50%;
    padding: 1rem 0;
    text-align: left;
    font-size: .8rem;
}

.skills-table th {
    font-size: 1rem;
    font-weight: 300;
    color: #667267;
}

.skills-table tr:not(:last-child) td {
    border-bottom: 1px solid #344d36;
}

/* footer styles */

footer {
    text-align: center;
    padding: 2.5rem;
    font-size: 0.8rem;
    background-color: #344d36;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}

footer a {
    text-decoration: none;
    font-weight: 300;
    font-size: 0.75rem;

    &:hover {
        text-decoration: underline;
    }
}

footer a,
footer p {
    color: #EEE1D5;
}

footer p {
    font-size: 0.6rem;
}