* {
    color: #344d36;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d7ceb3;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

p {
    line-height: 1.5;
}

/* Navbar styles */

nav {
    position: sticky;
    top: 0;
    background-color: #d7ceb3;
    z-index: 100;
    padding: 1rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    margin-right: auto;
}

.nav-list li {
    list-style: none;

}

.nav-list li:not(.nav-title) {
    margin: auto .5rem;
}

.nav-list li a {
    text-decoration: none;
    font-weight: 600;
    font-size: .75rem;
}

/* Section styles */

section {
    min-height: 100dvh;
    border: 1px solid black;
    scroll-margin-top: 4rem;
    display: flex;

    justify-content: center;
    margin: 0 4rem;
}

/* Welcome section styles */

#welcome {
    padding: 0 12rem;
    flex-direction: column;
}

.subtitle {
    font-family: 'Averia Serif Libre', serif;
    font-size: 1.2rem;
}

/* About section styles */
#about {
    align-items: center;
    gap: 2rem;
}

#about img {
    max-width: 400px;
    max-height: 50vh;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.about-content p {
    margin-bottom: 1rem;
}

.hobbies-list {
    list-style-type: disc;
    margin-left: 1.5rem;
    font-size: 0.9rem;
}

.hobbies-list li {
    margin-bottom: 0.5rem;
}